@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@200&display=swap');


body {
    font-family: 'poppins', arial, sans-serif;
}

header {
    background-color: lightblue;
    align-items: center;
}

header img {
    display: inline-block;
    height: 100px;
    padding: 30px;
    margin-left: 32%;
    margin-right: auto;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    text-align: center;
    padding: 20px;
    vertical-align: middle;
    font-family: 'Courgette', Arial, sans-serif;

}

nav {
	background-color: #36454f;
	margin: 0 auto;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration:overline;
}

h2 {
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
    text-align: center;
    font-family: 'Courgette', Arial, sans-serif;
}

.card {
    border: 1px solid #000;
    display: flexbox;
}

h3 {
    background-color: lightblue;
    margin: 0;
    text-align: center;
    font-family: 'Courgette', Arial, sans-serif;
    padding: 10px;
}

ul {
    counter-reset: item;
  }
  li {
    display: block;
  }
  li:before {
    content: counters(item, ".")". ";
    counter-increment: item;
  }

p {
    text-align: center;
}

footer {
    background-color: lightblue;
    margin-top: 20px;
}
