@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@200&display=swap');


body {
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    justify-items: center;
    align-content: center;
    font-family: 'poppins', arial, sans-serif;
    
  }

header {
    grid-column: 1/3;
    background-color: lightblue;
    width: 50%;
}

header img {
    display: inline-block;
    height: 100px;
    padding: 30px;
    margin-left: 50px;
    margin-right: auto;
    vertical-align: middle;


}
h1 {
    display: inline-block;
    text-align: center;
    padding: 20px;
    vertical-align: middle;
    font-family: 'Courgette', Arial, sans-serif;

}

nav {
    width: 50%;
    display: block;
    justify-content: space-around;
    grid-column: 1/3;
    background-color: black;
}

nav a {
    color: rgb(255, 255, 255);
    display: block;
    padding: 12px;
    text-decoration: none;
    padding: 35px;
    text-align: center;
    
}

nav a:hover {
    background-color: #bdbdbd;
  }

main {
    grid-column: 1/3;
    width: 50%;
}

h2 {
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
    text-align: center;
    font-family: 'Courgette', Arial, sans-serif;
}

.card {
    border: 1px solid #000;
}

h3 {
    background-color: lightblue;
    margin: 0;
    text-align: center;
    font-family: 'Courgette', Arial, sans-serif;
}

ul {
    counter-reset: item;
  }
  li {
    display: block;
  }
  li:before {
    content: counters(item, ".")". ";
    counter-increment: item;
  }

p {
    text-align: center;
}

footer {
    grid-column: 1/3;
    background-color: lightblue;
    width: 52%;
    margin: 20px;
}