@media (min-width: 850px){

    nav {
        display: flex;
    }
    
    nav a {
        display: block;
        flex: 1 1 100%;
    }
    
    nav a:hover {
        text-decoration:overline;
    }

    #menu {
        display: none;
    }

    .homeInfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    
    .homeItem:nth-child(1),
    .homeItem:nth-child(2) {
        grid-column: span 1;
    }
    
    .homeItem:nth-child(3),
    .homeItem:nth-child(4) {
        grid-column: span 2;
    }

    .photos {
        display: flex;
        justify-content: space-between; 
        gap: 10px; 
        padding: 10px 0; 
        flex-direction: row;
    }
    
    .photos img {
        width: calc(50% - 5px); 
        height: auto; 
    }

    .formContainer{
        grid-template-columns: 1fr 1fr;
      }

    .rentalInfo{
        font-size: 1.2rem;
    }

}